{
    "env": {
        "es6": true
    },
    "extends": ["plugin:tailwindcss/recommended", "prettier"],
    "rules": {
        "arrow-body-style": "off",
        "prefer-arrow-callback": "off"
    },
    "plugins": ["tailwindcss"]
}
